h1,
h2{font-family: 'Open Sans', sans-serif;
   color: #922B21
  }
h3,
h4{font-family: 'Open Sans', sans-serif;
  }

p {font-family: 'Open Sans', sans-serif;
  color: #A3A3A3 ;
}

table {font-family: 'Open Sans', sans-serif;
  color: #A3A3A3;
  }
  
ol {font-family: 'Open Sans', sans-serif;
  color: #A3A3A3;
  }

ul {font-family: 'Open Sans', sans-serif;
  color: #A3A3A3;
  }

 
span{ font-family: 'Merriweather', serif;
      color: #E33990; 
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1px
  
}

strong { color: #4F4F4F ;
         font-weight: bold;
}

a{color: #00DEFF;
  }

table {width: 120%;
      margin-top: px
}

.image {height: 0px;
}
